@CHARSET "UTF-8";

/* ================================================================================ *\
   Custom
\* ================================================================================ */

/*------------------------------------------------------------*\
  Elements
\*------------------------------------------------------------*/
body{color:#333; font:12px/24px Verdana,"microsoft yahei"; background-color:#fff;}

a{color:#2e2e2e; text-decoration:none;}
a:hover{color:#333; text-decoration:none;}

h1, h2, h3, h4, h5, h6{font-family:inherit;}
hr{border-color:#ddd;}


/*------------------------------------------------------------*\
  Common
\*------------------------------------------------------------*/
.fl-l{float:left;}
.fl-r{float:right;}
.fl-clear{clear:both;}
.al-c{text-align:center;}
.al-l{text-align:left;}
.al-r{text-align:right;}

.gap{margin-bottom:15px;}
.fill{padding:0 15px;}

/* Font */
.f-small{font-size:80%;}
.f-larger{font-size:160%;}

.f-default{color:#333;}
.f-primary{color:#0084CE;}
.f-success{color:#5cb85c;}
.f-info{color:#5bc0de;}
.f-warning{color:#f0ad4e;}
.f-danger{color:#d9534f;}

.required {color:#F00; margin-right:0;}

label.error{color:#F00;}
legend{height:30px; line-height:30px; margin-bottom:15px; padding:0 15px; font-size:14px; font-weight:bold; background-color:#f9f9f9; border-bottom:none;}

/* BG Color */
.bg-1{background-color:#0084CE;}
.bg-2{background-color:#5cb85c;}
.bg-3{background-color:#f0ad4e;}


/*------------------------------------------------------------*\
  Bootstrap
\*------------------------------------------------------------*/
.container{width:auto; padding:10px 10px;}

/* Form Control */
.form-horizontal{line-height:24px;}
.form-horizontal .control-label{padding:0}
.form-control{border-radius:0;}
.form-control.inline{display:inline-block; margin-right:4px;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{height:28px; line-height:28px;}
select {border:1px #ccc solid; background-color:#fff;}
.input-group-addon{ height:20px; padding:0 12px; border-radius:0;}

/* Table */
.table > thead{background-color:#f9f9f9;}
.table > tbody tr.active td{background-color:#fcf8e3;}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{background-color:#E6EFFA;}

.table .sort{display:block;}
.table .sort:hover{color:#0084CE;}
.table .check{width:30px;}

.table.table-fixed{table-layout:fixed;}
.table.table-fixed td{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* Pagination */
.pagination{margin:0; vertical-align:middle;}
.pagination > li > a, .pagination > li > span{padding:4px 8px; font-size:12px;}

.pagination-input{display:inline-block; height:27px; line-height:27px; padding-left:10px; vertical-align:middle;}
.pagination-input input{height:27px; margin-top:-3px; padding:0 5px; vertical-align:middle; border:1px #ddd solid;}
.pagination-input .txt{width:60px; text-align:center; border-top-left-radius:4px; border-bottom-left-radius:4px;}
.pagination-input .btn{margin-left:-5px; color:#fff; font-size:12px; background-color:#3498DB; border-color:#3498DB; border-top-right-radius:4px; border-bottom-right-radius:4px;}

/* Panel */
.panel{border-radius:0; border:none;}
.panel > .panel-heading{position:relative; padding:8px 16px; color:#fff; font-size:14px; font-weight:bold; background-color:#3498DB; border-bottom:none; border-radius:0;}
.panel > .panel-heading .btn-more{display:block; position:absolute; z-index:1; top:0; right:0; padding:2px 8px 2px 10px; color:#fff; font-size:12px; font-weight:normal; background-color:#2980B9; border-radius:0 0 0 6px;}
.panel > .panel-body, .panel > .table{border:1px #ddd solid; border-top:none;}
.panel > .table.table-bordered{border:1px #ddd solid;}
.panel-search{display:none;}
.panel-footer{position:relative; padding:8px 16px; background-color:#f9f9f9; border:1px #ddd solid; border-top:none; border-radius:0;}
.panel-footer .l-side, .panel-footer .r-side{position:absolute; padding:0 8px;}
.panel-footer .l-side{left:0;}
.panel-footer .r-side{right:0;}

.panel.panel-sm{width:80%; margin:0 auto;}

/* Breadcrumb */
.breadcrumb{line-height:34px; margin-bottom:10px; padding:0 8px; font-size: 12px; background-color:transparent;}

/* Dropdown Menu */
.dropdown-menu{margin-top:2px; margin-right:2px; border-radius:1px; box-shadow:0 0 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.1); background-clip:padding-box;}
.dropdown-menu.arrow:before{position:absolute; display:inline-block; top:-8px; right:11px; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #fff; content: '';}

/* Tab */
.tab-pane{padding:16px 0;}

/* Nav Tabs */
.nav-tabs > li > a, .nav-tabs.nav-justified > li > a{border-radius:0;}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{font-weight:bold;}

/* Alert */
.alert{display:none;}

/* Modal */
.modal-dialog{width:640px;}
.modal-dialog.modal-sm{width:420px;}
.modal-dialog .alert{margin-bottom:0;}
.modal-header{padding:8px 16px; color:#fff; line-height:24px; background-color:#3498DB; border-bottom:none;}
.modal-content{border-radius:0; box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}
.modal-footer{margin-top:0; padding:8px 16px;}
.modal-title{padding:0 8px; font-size:14px; font-weight:bold;}
.modal-alert{}  /* 提示模态框 */
.modal-alert .modal-body{font-weight:bold; text-align:center;}
.modal-alert .modal-footer{text-align:center; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.modal-dialog .close{opacity:0.3;}

/* Select Box */
.select-box{}
.select-box select{width:100%; height:200px;}

/* Switch */
.bootstrap-switch{height:28px !important; line-height:28px !important; border-color:#428bca !important;}
.bootstrap-switch.bootstrap-switch-large{min-width:80px !important;}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-focused{height:28px !important; line-height:28px !important; padding-bottom:0 !important; padding-top:0 !important;; font-size:12px !important; background-color:#eee; box-shadow:none !important;}
.bootstrap-switch-label{background-color:#ECF0F1 !important;}
.bootstrap-switch-handle-on{background-color:#0084CE !important;}
.bootstrap-switch-handle-off{color:#fff !important; background-color:#5bc0de !important;}
.bootstrap-switch, .bootstrap-switch .bootstrap-switch-container, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch .bootstrap-switch-handle-off{border-radius:0 !important;}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{}

/* Button Group */
.btn{border-radius:0;}
.btn-sm{padding:4px 8px;}

/* Wall */
.wall{margin:10px 0;}
.wall:after{display:block; clear:both; content:"";}
.wall.wall-sm{width:240px;}
.wall.wall-md{width:384px;}
.wall .tile{float:left; position:relative; width:120px; height:120px; color:#fff; background-color:#1abc9c; background-position:center 10px; background-repeat:no-repeat; border:4px #fff solid; transition-duration:0.2s; -webkit-transition-duration:0.2s; -moz-transition-duration:0.2s;}
.wall .tile.tile-lg{width:240px;}
.wall .tile:hover{border-color:#16A085;}
.wall .tile.tile-blue{background-color:#3498DB;}
.wall .tile.tile-blue:hover{border-color:#2980B9;}
.wall .tile.tile-grey{background-color:#95A5A6;}
.wall .tile.tile-grey:hover{border-color:#7F8C8D;}
.wall .tile.tile-yellow{background-color:#F1C40F;}
.wall .tile.tile-yellow:hover{border-color:#F39C12;}
.wall .tile span{font-weight:bold;}
.wall .tile .des{position:absolute; left:8px; bottom:4px;}
.wall .tile .num{position:absolute; right:16px; bottom:4px;}
.wall .ico-1{background-image:url(../images/ico_1.png);}
.wall .ico-2{background-image:url(../images/ico_2.png);}
.wall .ico-3{background-image:url(../images/ico_3.png);}

/* Other */
.heading{font-weight:bold; text-indent:12px; border-left:4px #F90 solid;}
.alert, .progress{border-radius:0;}
.badge{background-color:#34495E;}
.editable{background-color:#fcf8e3 !important;}