@CHARSET "UTF-8";

/* ================================================================================ *\
   Main
\* ================================================================================ */

/* Header */
#header{position:fixed; z-index:2; top:0; width:100%; height:50px; z-index:999; background-color:#34495e;}
#header .logo{float:left; width:180px; height:50px;}
#header .logo span{display:block; width:100%; height:inherit;}
#header .username{}
#header .username .user-btn{display:inline-block; line-height:50px; padding:0 15px; color:#ccc; font-size:12px; cursor:pointer;}
#header .username.open .user-btn, #header .username:hover .user-btn{color:#fff;}
#header .dropdown-menu>li>a{padding:4px 16px;}
#header .dropdown-menu>li>a:hover{color:#fff; background-color:#428bca;}

/* Sidebar */
#sidebar{position:fixed; z-index:1; top:50px; bottom:0; left:0; width:180px; background:#f9f9f9 url(../images/dot.gif) top right repeat-y;}
#sidebar-btn{display:block; position:absolute; z-index:1000; left:0; bottom:0; width:36px; height:36px; background:#999 url(../images/icon_arrow_rb.png) -2px 4px no-repeat; border-top-right-radius:24px; opacity:0.4; -webkit-transition:all ease-in 0.1s; transition:all ease-in 0.1s;}
#sidebar-btn.close{border-color:#3b4043; background-image:url(../images/icon_arrow_lb.png);}
#sidebar-btn:hover{opacity:1;}

/* Main */
#main{position:fixed; z-index:3; top:50px; bottom:0; left:180px; right:0; overflow:hidden; transition-duration:0.2s; -webkit-transition-duration:0.2s; -moz-transition-duration:0.2s;}
#main-frame{width:100%; height:100%; border-collapse:collapse; border-spacing:0;}

/* Main Menu */
.main-menu{float:left;}
.main-menu>a, .main-menu .btn-group>a{float:left; display:block; padding:0 15px; color:#ccc; font-size:14px; line-height:50px; transition-duration:0.2s; -webkit-transition-duration:0.2s; -moz-transition-duration:0.2s;}
.main-menu>a:hover, .main-menu>a.on, .main-menu>.btn-group.on>a{color:#fff; background-color:#2c3e50;}
.main-menu i{margin-right:8px;}
.main-menu .btn-group{float:left;}
.main-menu .btn-group .dropdown-toggle{cursor:pointer;}

/* Tree Menu */
.tree-menu{}
.tree-menu, .tree-menu ul, .tree-menu li{margin:0; padding:0; list-style-type:none; color:#333; font-size:14px;}
.tree-menu>li{background-color:transparent; border-bottom:1px #ddd solid; background:url("../images/icon_list.png") 10px 14px no-repeat;}
.tree-menu a{display:block; padding:8px 0; line-height:24px; color:#333; text-indent:32px;}
.tree-menu .haschild{background:url("../images/icon_list.png") 10px 14px no-repeat;}
.tree-menu .haschild>a{background:url("../images/icon_arrow_r.png") 150px center no-repeat;}
.tree-menu .haschild.open>a{background:url("../images/icon_arrow_d.png") 150px center no-repeat;}
.tree-menu .hassubchild{}
.tree-menu .hassubchild>a{background:url("../images/icon_arrow_r.png") 150px center no-repeat;}
.tree-menu .hassubchild.open>a{font-weight:bold; background:url("../images/icon_arrow_d.png") 150px 16px no-repeat;}
.tree-menu .menu{display:none; height:0; position:relative;}
.tree-menu .menu li{font-weight:normal;}
.tree-menu .open a{color:#333;}
.tree-menu .open>.menu{display:block; height:auto;}
.tree-menu .on{border-color:#1abc9c;}
.tree-menu .on a{position:relative; color:#fff; font-weight:bold; background:#1abc9c url("../images/icon_list_on.png") 10px 14px no-repeat;}
.tree-menu .menu.lv-3 a{text-indent:40px;}